#settingsEnvatoCurrencyConverter {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
    margin: 0;
}
        
#settingsEnvatoCurrencyConverter header {
    margin-top:30px;
}
#settingsEnvatoCurrencyConverter #container {
    text-align: left;
    background: #FFF;
    width: 865px;
    height:175px;
    margin: 0 auto;
    padding: 20px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    -webkit-box-shadow: 0px 0px 10px #BBB;
    box-shadow: 0px 0px 10px #BBB;
}
    
#settingsEnvatoCurrencyConverter h1, #settingsEnvatoCurrencyConverter h2, #settingsEnvatoCurrencyConverter h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 14px 0;
    padding: 0;
}

#settingsEnvatoCurrencyConverter #settings-wrapper {
    background: #F1F1F1;
    padding: 10px;
    border: 1px solid #D2D2D2;
    width: 843px;
    margin-bottom: 10px;		
    display: block;
    float: left;
}
#settingsEnvatoCurrencyConverter select {
    float:left;            
    padding: .75rem 1rem;  
    margin: 0 10px 0 0;   
}

#settingsEnvatoCurrencyConverter #author {
    display: block;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    color: #AAA;			
}

#settingsEnvatoCurrencyConverter a, #settingsEnvatoCurrencyConverter  a:active, #settingsEnvatoCurrencyConverter a:visited { color: #607890; }
#settingsEnvatoCurrencyConverter  a:hover { color: #036; }
		
/*------------------------------------*\
	$BUTTON
\*------------------------------------*/
#settingsEnvatoCurrencyConverter button, 
#settingsEnvatoCurrencyConverter .button {
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	
	font: bold 11px Helvetica, Arial, sans-serif;
	color: #444;
	line-height: 17px;
	height: 44px;
	
	display: inline-block;
	float: left;
	
	margin: 0px;
	padding: 0px 19px;
	
	background: #F3F3F3;
	border: solid 1px #D9D9D9;
	cursor:pointer;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-transition: border-color .20s;
	transition: border-color .20s;
}

#settingsEnvatoCurrencyConverter button.blue .label, #settingsEnvatoCurrencyConverter .button.blue .label {
color: #FFF !important;
text-shadow: 0 1px 0 #2F5BB7 !important;
}

#settingsEnvatoCurrencyConverter button:hover, 
#settingsEnvatoCurrencyConverter .button:hover {
    background: #F4F4F4;
    border-color: #C0C0C0;
    color: #333;
}

#settingsEnvatoCurrencyConverter button:active, 
#settingsEnvatoCurrencyConverter .button:active {
	border-color: #4D90FE;
	color: #4D90FE;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}


#settingsEnvatoCurrencyConverter button.action, 
#settingsEnvatoCurrencyConverter .button.action {
	border: 1px solid #D8D8D8 !important;	
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);	
	-webkit-transition: border .20s;
	transition: border .20s;
}
#settingsEnvatoCurrencyConverter button.action:hover, 
#settingsEnvatoCurrencyConverter .button.action:hover {
	border: 1px solid #C6C6C6 !important;	
	background: #F3F3F3;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
}
#settingsEnvatoCurrencyConverter button.blue, 
#settingsEnvatoCurrencyConverter .button.blue {
	border: 1px solid #3079ED !important;	
	background: #4B8DF8;
	background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);	
	-webkit-transition: border .20s;
	transition: border .20s;
}
#settingsEnvatoCurrencyConverter button.blue:hover, 
#settingsEnvatoCurrencyConverter .button.blue:hover {
	border: 1px solid #2F5BB7 !important;	
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
}

#settingsEnvatoCurrencyConverter button.action:hover, 
#settingsEnvatoCurrencyConverter .button.action:hover {	
	-webkit-box-shadow: 0 1px 0px #DDD;
	box-shadow:iset 0 1px 0px #DDD;
}
#settingsEnvatoCurrencyConverter button.action:active, 
#settingsEnvatoCurrencyConverter .button.action:active {	
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #C6C6C6 !important;
}
#settingsEnvatoCurrencyConverter button.blue:active, 
#settingsEnvatoCurrencyConverter .button.blue:active {
	border-color: #2F5BB7 !important;
}
/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: #000;
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: #000;
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: #000;
	}
}